// Colours
$colour-standard: #b2b2b2;
$colour-success: green;
$colour-warning: orange;
$colour-error: red;
$colour-white: white;

// Line Weight
$line-weight-standard: 5px;

// Box Shadow
$box-shadow-standard: 0px 2px 5px 0px $colour-standard;
$box-shadow-large: 0px 5px 10px 0px $colour-standard;