.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn-container {
  margin: 2rem 0;
}

.btn {
  margin-right: 0.5rem;
}

.action-buttons {
  margin-top: 1rem;
}